#bodymain {
    background-image: url("/assets/img/AdobeStock_187567233.jpeg");
    background-size:cover;
    background-repeat: no-repeat;
    font-family: 'Permanent Marker', cursive;
}
#mainheader {
    color: rgb(230, 100, 49);
    font-size: xxx-large;
}
.menu {
    background-color: rgb(221, 159, 79);
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 5px;
}
.foot {
    background-color: rgb(221, 159, 79);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding-top: 10px;
}
@media screen and (max-width: 480px) {
    .menu {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 5px;

    }
}